Repeat part B but use a neural network with the following instead:

- Three hidden layers, each of 10 nodes and ReLU activation function. **teks tebal**

Download and Clean Dataset

In [50]:
import pandas as pd
import numpy as np

In [51]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

   Cement  Blast Furnace Slag  Fly Ash  ...  Fine Aggregate  Age  Strength
0   540.0                 0.0      0.0  ...           676.0   28     79.99
1   540.0                 0.0      0.0  ...           676.0   28     61.89
2   332.5               142.5      0.0  ...           594.0  270     40.27
3   332.5               142.5      0.0  ...           594.0  365     41.05
4   198.6               132.4      0.0  ...           825.5  360     44.30

[5 rows x 9 columns]

In [52]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

#use a normalized version of the data

In [53]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

     Cement  Blast Furnace Slag  ...  Fine Aggregate       Age
0  2.476712           -0.856472  ...       -1.217079 -0.279597
1  2.476712           -0.856472  ...       -1.217079 -0.279597
2  0.491187            0.795140  ...       -2.239829  3.551340
3  0.491187            0.795140  ...       -2.239829  5.055221
4 -0.790075            0.678079  ...        0.647569  4.976069

[5 rows x 8 columns]

In [54]:
n_cols = predictors_norm.shape[1] # number of predictors

Build Regresion Model

In [55]:
from keras.models import Sequential
from keras.layers import Dense

Regression model with Neural Network with 3 Hidden Layers

In [56]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

1. Randomly split the data into a training and test sets by holding 30% of the data for testing. You can use the train_test_splithelper function from Scikit-learn.

In [57]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train,y_test = train_test_split(predictors_norm,target, test_size=0.3, random_state=20)

2. Train the model on the training data using 100 epochs.

In [58]:
# build the model
model = regression_model()
# fit the model
model.fit(x_train, y_train, epochs=50, verbose=1)

Epoch 1/50
721/721 [==============================] - 0s 167us/step - loss: 1526.9261
Epoch 2/50
721/721 [==============================] - 0s 37us/step - loss: 1504.1471
Epoch 3/50
721/721 [==============================] - 0s 38us/step - loss: 1468.4361
Epoch 4/50
721/721 [==============================] - 0s 38us/step - loss: 1414.0316
Epoch 5/50
721/721 [==============================] - 0s 40us/step - loss: 1333.9923
Epoch 6/50
721/721 [==============================] - 0s 34us/step - loss: 1219.2701
Epoch 7/50
721/721 [==============================] - 0s 44us/step - loss: 1063.0089
Epoch 8/50
721/721 [==============================] - 0s 38us/step - loss: 857.5986
Epoch 9/50
721/721 [==============================] - 0s 50us/step - loss: 629.6669
Epoch 10/50
721/721 [==============================] - 0s 36us/step - loss: 433.7294
Epoch 11/50
721/721 [==============================] - 0s 36us/step - loss: 312.8692
Epoch 12/50
721/721 [==============================] - 0s 36us/step - loss: 262.3226
Epoch 13/50
721/721 [==============================] - 0s 36us/step - loss: 241.2750
Epoch 14/50
721/721 [==============================] - 0s 35us/step - loss: 229.1138
Epoch 15/50
721/721 [==============================] - 0s 39us/step - loss: 218.9120
Epoch 16/50
721/721 [==============================] - 0s 44us/step - loss: 211.4966
Epoch 17/50
721/721 [==============================] - 0s 43us/step - loss: 204.7161
Epoch 18/50
721/721 [==============================] - 0s 42us/step - loss: 199.2205
Epoch 19/50
721/721 [==============================] - 0s 40us/step - loss: 194.4066
Epoch 20/50
721/721 [==============================] - 0s 44us/step - loss: 190.2862
Epoch 21/50
721/721 [==============================] - 0s 41us/step - loss: 186.2156
Epoch 22/50
721/721 [==============================] - 0s 42us/step - loss: 183.1314
Epoch 23/50
721/721 [==============================] - 0s 40us/step - loss: 180.5418
Epoch 24/50
721/721 [==============================] - 0s 37us/step - loss: 177.6784
Epoch 25/50
721/721 [==============================] - 0s 39us/step - loss: 175.8640
Epoch 26/50
721/721 [==============================] - 0s 40us/step - loss: 173.3253
Epoch 27/50
721/721 [==============================] - 0s 47us/step - loss: 171.4562
Epoch 28/50
721/721 [==============================] - 0s 36us/step - loss: 169.5218
Epoch 29/50
721/721 [==============================] - 0s 40us/step - loss: 167.7934
Epoch 30/50
721/721 [==============================] - 0s 40us/step - loss: 166.1715
Epoch 31/50
721/721 [==============================] - 0s 40us/step - loss: 164.3196
Epoch 32/50
721/721 [==============================] - 0s 40us/step - loss: 163.0118
Epoch 33/50
721/721 [==============================] - 0s 39us/step - loss: 161.2135
Epoch 34/50
721/721 [==============================] - 0s 41us/step - loss: 159.9826
Epoch 35/50
721/721 [==============================] - 0s 41us/step - loss: 158.6187
Epoch 36/50
721/721 [==============================] - 0s 40us/step - loss: 157.4517
Epoch 37/50
721/721 [==============================] - 0s 43us/step - loss: 156.2863
Epoch 38/50
721/721 [==============================] - 0s 41us/step - loss: 155.3604
Epoch 39/50
721/721 [==============================] - 0s 45us/step - loss: 154.1017
Epoch 40/50
721/721 [==============================] - 0s 53us/step - loss: 153.2365
Epoch 41/50
721/721 [==============================] - 0s 43us/step - loss: 151.9474
Epoch 42/50
721/721 [==============================] - 0s 48us/step - loss: 151.0216
Epoch 43/50
721/721 [==============================] - 0s 36us/step - loss: 150.3281
Epoch 44/50
721/721 [==============================] - 0s 36us/step - loss: 149.2705
Epoch 45/50
721/721 [==============================] - 0s 35us/step - loss: 148.5860
Epoch 46/50
721/721 [==============================] - 0s 38us/step - loss: 147.4881
Epoch 47/50
721/721 [==============================] - 0s 35us/step - loss: 146.9100
Epoch 48/50
721/721 [==============================] - 0s 39us/step - loss: 146.0658
Epoch 49/50
721/721 [==============================] - 0s 35us/step - loss: 145.4025
Epoch 50/50
721/721 [==============================] - 0s 38us/step - loss: 144.6609

3. Evaluate the model on the test data and compute the mean squared error between the predicted concrete strength and the actual concrete strength. You can use the mean_squared_error function from Scikit-learn.

In [59]:
MSE = model.evaluate(x_test,y_test)
MSE

309/309 [==============================] - 0s 60us/step

144.71208042774384

In [60]:
from sklearn.metrics import mean_squared_error
ypred = model.predict(x_test)
mse = mean_squared_error(y_test,ypred)
mean_mse = np.mean(mse)
std_mse = np.std(mse)

In [61]:
print("mean : "+str(mean_mse) + "\nStandar deviasi : "+str(std_mse))

mean : 144.7120800345338
Standar deviasi : 0.0

4. Repeat steps 1 - 3, 50 times, i.e., create a list of 50 mean squared errors

In [62]:
total_mse = 50
list_mse = []
for i in range(0,total_mse):
  x_train, x_test, y_train,y_test = train_test_split(predictors_norm,target, test_size=0.3, random_state=20)
  model = regression_model()
  model.fit(x_train, y_train, epochs=50, verbose=0)
  MSE_model = model.evaluate(x_test,y_test)
  print("MSE "+str(i+1)+ " is "+str(MSE_model))
  ypred = model.predict(x_test)
  mse = mean_squared_error(y_test,ypred)
  list_mse.append(mse)

309/309 [==============================] - 0s 68us/step
MSE 1 is 120.44238854071855
309/309 [==============================] - 0s 78us/step
MSE 2 is 125.50799224754753
309/309 [==============================] - 0s 52us/step
MSE 3 is 137.87463072742844
309/309 [==============================] - 0s 71us/step
MSE 4 is 110.16260805099142
309/309 [==============================] - 0s 68us/step
MSE 5 is 132.3999524656623
309/309 [==============================] - 0s 66us/step
MSE 6 is 124.582949888359
309/309 [==============================] - 0s 63us/step
MSE 7 is 131.786656401304
309/309 [==============================] - 0s 60us/step
MSE 8 is 132.17733014054284
309/309 [==============================] - 0s 72us/step
MSE 9 is 136.42964043972177
309/309 [==============================] - 0s 67us/step
MSE 10 is 129.26867384432202
309/309 [==============================] - 0s 61us/step
MSE 11 is 107.00928210903525
309/309 [==============================] - 0s 60us/step
MSE 12 is 122.31715600467423
309/309 [==============================] - 0s 67us/step
MSE 13 is 136.38781318541098
309/309 [==============================] - 0s 58us/step
MSE 14 is 123.20956559165782
309/309 [==============================] - 0s 68us/step
MSE 15 is 138.51255027993213
309/309 [==============================] - 0s 53us/step
MSE 16 is 116.95436288778065
309/309 [==============================] - 0s 58us/step
MSE 17 is 127.08068067433379
309/309 [==============================] - 0s 54us/step
MSE 18 is 125.57860473830337
309/309 [==============================] - 0s 69us/step
MSE 19 is 134.8378045535782
309/309 [==============================] - 0s 57us/step
MSE 20 is 119.26472245991037
309/309 [==============================] - 0s 62us/step
MSE 21 is 130.81662021871523
309/309 [==============================] - 0s 64us/step
MSE 22 is 123.05472735062386
309/309 [==============================] - 0s 61us/step
MSE 23 is 127.4967980245942
309/309 [==============================] - 0s 57us/step
MSE 24 is 107.38372595333358
309/309 [==============================] - 0s 64us/step
MSE 25 is 124.31598591727347
309/309 [==============================] - 0s 60us/step
MSE 26 is 137.5227954457107
309/309 [==============================] - 0s 82us/step
MSE 27 is 109.27006918404095
309/309 [==============================] - 0s 57us/step
MSE 28 is 137.51991222591462
309/309 [==============================] - 0s 57us/step
MSE 29 is 140.99508973155594
309/309 [==============================] - 0s 72us/step
MSE 30 is 131.11417959268812
309/309 [==============================] - 0s 55us/step
MSE 31 is 122.94787839624102
309/309 [==============================] - 0s 57us/step
MSE 32 is 131.05811820909815
309/309 [==============================] - 0s 57us/step
MSE 33 is 102.80258892269197
309/309 [==============================] - 0s 63us/step
MSE 34 is 83.75390002796951
309/309 [==============================] - 0s 60us/step
MSE 35 is 130.1084976443195
309/309 [==============================] - 0s 65us/step
MSE 36 is 125.14867428282703
309/309 [==============================] - 0s 69us/step
MSE 37 is 121.5693270982662
309/309 [==============================] - 0s 60us/step
MSE 38 is 122.20074932011971
309/309 [==============================] - 0s 71us/step
MSE 39 is 119.04986280916579
309/309 [==============================] - 0s 57us/step
MSE 40 is 106.60166012662128
309/309 [==============================] - 0s 64us/step
MSE 41 is 114.3413533824933
309/309 [==============================] - 0s 59us/step
MSE 42 is 109.56258236783222
309/309 [==============================] - 0s 56us/step
MSE 43 is 132.72846663885517
309/309 [==============================] - 0s 67us/step
MSE 44 is 116.5993020758274
309/309 [==============================] - 0s 60us/step
MSE 45 is 107.38206946116821
309/309 [==============================] - 0s 67us/step
MSE 46 is 115.28585622843029
309/309 [==============================] - 0s 55us/step
MSE 47 is 134.04025006834357
309/309 [==============================] - 0s 63us/step
MSE 48 is 104.81866055090451
309/309 [==============================] - 0s 58us/step
MSE 49 is 122.79026063591917
309/309 [==============================] - 0s 57us/step
MSE 50 is 115.0665388878881

5. Report the mean and the standard deviation of the mean squared errors.

In [63]:
list_mse = np.array(list_mse)
total_mean = np.mean(list_mse)
total_std = np.std(list_mse)
print("Mean : "+str(total_mean))
print("Standar devisi : "+str(total_std))

Mean : 122.78263448938246
Standar devisi : 11.533260759302971