Repeat Part B but use 100 epochs this time for training.

Download and Clean Dataset

In [35]:
import pandas as pd
import numpy as np

In [36]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

   Cement  Blast Furnace Slag  Fly Ash  ...  Fine Aggregate  Age  Strength
0   540.0                 0.0      0.0  ...           676.0   28     79.99
1   540.0                 0.0      0.0  ...           676.0   28     61.89
2   332.5               142.5      0.0  ...           594.0  270     40.27
3   332.5               142.5      0.0  ...           594.0  365     41.05
4   198.6               132.4      0.0  ...           825.5  360     44.30

[5 rows x 9 columns]

In [37]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

#use a normalized version of the data

In [38]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

     Cement  Blast Furnace Slag  ...  Fine Aggregate       Age
0  2.476712           -0.856472  ...       -1.217079 -0.279597
1  2.476712           -0.856472  ...       -1.217079 -0.279597
2  0.491187            0.795140  ...       -2.239829  3.551340
3  0.491187            0.795140  ...       -2.239829  5.055221
4 -0.790075            0.678079  ...        0.647569  4.976069

[5 rows x 8 columns]

In [39]:
n_cols = predictors_norm.shape[1] # number of predictors

Build Regresion Model

In [40]:
from keras.models import Sequential
from keras.layers import Dense

In [41]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(50, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

1. Randomly split the data into a training and test sets by holding 30% of the data for testing. You can use the train_test_splithelper function from Scikit-learn.

In [42]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train,y_test = train_test_split(predictors_norm,target, test_size=0.3, random_state=20)

2. Train the model on the training data using 100 epochs.

In [43]:
# build the model
model = regression_model()
# fit the model
model.fit(x_train, y_train, epochs=100, verbose=1)

Epoch 1/100
721/721 [==============================] - 0s 120us/step - loss: 1562.3048
Epoch 2/100
721/721 [==============================] - 0s 29us/step - loss: 1525.3710
Epoch 3/100
721/721 [==============================] - 0s 29us/step - loss: 1487.9718
Epoch 4/100
721/721 [==============================] - 0s 28us/step - loss: 1449.2847
Epoch 5/100
721/721 [==============================] - 0s 29us/step - loss: 1406.6551
Epoch 6/100
721/721 [==============================] - 0s 29us/step - loss: 1359.6629
Epoch 7/100
721/721 [==============================] - 0s 29us/step - loss: 1307.5674
Epoch 8/100
721/721 [==============================] - 0s 28us/step - loss: 1250.1102
Epoch 9/100
721/721 [==============================] - 0s 29us/step - loss: 1186.7023
Epoch 10/100
721/721 [==============================] - 0s 35us/step - loss: 1117.2880
Epoch 11/100
721/721 [==============================] - 0s 34us/step - loss: 1044.0970
Epoch 12/100
721/721 [==============================] - 0s 29us/step - loss: 966.5339
Epoch 13/100
721/721 [==============================] - 0s 28us/step - loss: 888.3779
Epoch 14/100
721/721 [==============================] - 0s 31us/step - loss: 809.3932
Epoch 15/100
721/721 [==============================] - 0s 33us/step - loss: 732.1663
Epoch 16/100
721/721 [==============================] - 0s 35us/step - loss: 659.7501
Epoch 17/100
721/721 [==============================] - 0s 33us/step - loss: 591.3888
Epoch 18/100
721/721 [==============================] - 0s 33us/step - loss: 528.3600
Epoch 19/100
721/721 [==============================] - 0s 32us/step - loss: 472.3581
Epoch 20/100
721/721 [==============================] - 0s 31us/step - loss: 424.2236
Epoch 21/100
721/721 [==============================] - 0s 34us/step - loss: 382.1062
Epoch 22/100
721/721 [==============================] - 0s 31us/step - loss: 346.4645
Epoch 23/100
721/721 [==============================] - 0s 32us/step - loss: 317.7023
Epoch 24/100
721/721 [==============================] - 0s 31us/step - loss: 293.7770
Epoch 25/100
721/721 [==============================] - 0s 30us/step - loss: 274.7882
Epoch 26/100
721/721 [==============================] - 0s 30us/step - loss: 259.1290
Epoch 27/100
721/721 [==============================] - 0s 31us/step - loss: 246.5856
Epoch 28/100
721/721 [==============================] - 0s 32us/step - loss: 236.1559
Epoch 29/100
721/721 [==============================] - 0s 30us/step - loss: 227.4069
Epoch 30/100
721/721 [==============================] - 0s 32us/step - loss: 219.9980
Epoch 31/100
721/721 [==============================] - 0s 33us/step - loss: 213.7810
Epoch 32/100
721/721 [==============================] - 0s 33us/step - loss: 207.7446
Epoch 33/100
721/721 [==============================] - 0s 33us/step - loss: 202.6804
Epoch 34/100
721/721 [==============================] - 0s 30us/step - loss: 197.9828
Epoch 35/100
721/721 [==============================] - 0s 29us/step - loss: 193.7285
Epoch 36/100
721/721 [==============================] - 0s 30us/step - loss: 189.6408
Epoch 37/100
721/721 [==============================] - 0s 29us/step - loss: 185.8689
Epoch 38/100
721/721 [==============================] - 0s 31us/step - loss: 182.1990
Epoch 39/100
721/721 [==============================] - 0s 30us/step - loss: 179.0664
Epoch 40/100
721/721 [==============================] - 0s 32us/step - loss: 176.0106
Epoch 41/100
721/721 [==============================] - 0s 34us/step - loss: 173.1934
Epoch 42/100
721/721 [==============================] - 0s 34us/step - loss: 170.4844
Epoch 43/100
721/721 [==============================] - 0s 32us/step - loss: 168.0870
Epoch 44/100
721/721 [==============================] - 0s 31us/step - loss: 165.7615
Epoch 45/100
721/721 [==============================] - 0s 29us/step - loss: 163.5938
Epoch 46/100
721/721 [==============================] - 0s 29us/step - loss: 161.5965
Epoch 47/100
721/721 [==============================] - 0s 30us/step - loss: 159.6344
Epoch 48/100
721/721 [==============================] - 0s 32us/step - loss: 157.7753
Epoch 49/100
721/721 [==============================] - 0s 31us/step - loss: 156.0804
Epoch 50/100
721/721 [==============================] - 0s 30us/step - loss: 154.3497
Epoch 51/100
721/721 [==============================] - 0s 31us/step - loss: 152.7185
Epoch 52/100
721/721 [==============================] - 0s 29us/step - loss: 151.1437
Epoch 53/100
721/721 [==============================] - 0s 32us/step - loss: 149.5047
Epoch 54/100
721/721 [==============================] - 0s 31us/step - loss: 147.8909
Epoch 55/100
721/721 [==============================] - 0s 35us/step - loss: 146.3236
Epoch 56/100
721/721 [==============================] - 0s 32us/step - loss: 144.7961
Epoch 57/100
721/721 [==============================] - 0s 31us/step - loss: 143.3255
Epoch 58/100
721/721 [==============================] - 0s 29us/step - loss: 141.7929
Epoch 59/100
721/721 [==============================] - 0s 29us/step - loss: 140.2629
Epoch 60/100
721/721 [==============================] - 0s 30us/step - loss: 138.8559
Epoch 61/100
721/721 [==============================] - 0s 29us/step - loss: 137.2821
Epoch 62/100
721/721 [==============================] - 0s 28us/step - loss: 136.0590
Epoch 63/100
721/721 [==============================] - 0s 29us/step - loss: 134.4317
Epoch 64/100
721/721 [==============================] - 0s 29us/step - loss: 132.9504
Epoch 65/100
721/721 [==============================] - 0s 35us/step - loss: 131.3761
Epoch 66/100
721/721 [==============================] - 0s 31us/step - loss: 129.9403
Epoch 67/100
721/721 [==============================] - 0s 29us/step - loss: 128.4938
Epoch 68/100
721/721 [==============================] - 0s 29us/step - loss: 126.8348
Epoch 69/100
721/721 [==============================] - 0s 30us/step - loss: 125.3518
Epoch 70/100
721/721 [==============================] - 0s 31us/step - loss: 123.7738
Epoch 71/100
721/721 [==============================] - 0s 29us/step - loss: 122.2767
Epoch 72/100
721/721 [==============================] - 0s 29us/step - loss: 120.9985
Epoch 73/100
721/721 [==============================] - 0s 37us/step - loss: 119.3887
Epoch 74/100
721/721 [==============================] - 0s 41us/step - loss: 117.9279
Epoch 75/100
721/721 [==============================] - 0s 35us/step - loss: 116.3421
Epoch 76/100
721/721 [==============================] - 0s 30us/step - loss: 114.8736
Epoch 77/100
721/721 [==============================] - 0s 31us/step - loss: 113.4221
Epoch 78/100
721/721 [==============================] - 0s 32us/step - loss: 111.8360
Epoch 79/100
721/721 [==============================] - 0s 31us/step - loss: 110.6332
Epoch 80/100
721/721 [==============================] - 0s 32us/step - loss: 108.9070
Epoch 81/100
721/721 [==============================] - 0s 31us/step - loss: 107.5180
Epoch 82/100
721/721 [==============================] - 0s 32us/step - loss: 106.0655
Epoch 83/100
721/721 [==============================] - 0s 31us/step - loss: 104.7045
Epoch 84/100
721/721 [==============================] - 0s 31us/step - loss: 103.3311
Epoch 85/100
721/721 [==============================] - 0s 33us/step - loss: 102.0044
Epoch 86/100
721/721 [==============================] - 0s 30us/step - loss: 100.6306
Epoch 87/100
721/721 [==============================] - 0s 30us/step - loss: 99.1969
Epoch 88/100
721/721 [==============================] - 0s 31us/step - loss: 97.9871
Epoch 89/100
721/721 [==============================] - 0s 31us/step - loss: 96.6392
Epoch 90/100
721/721 [==============================] - 0s 31us/step - loss: 95.4196
Epoch 91/100
721/721 [==============================] - 0s 30us/step - loss: 94.1158
Epoch 92/100
721/721 [==============================] - 0s 29us/step - loss: 92.9520
Epoch 93/100
721/721 [==============================] - 0s 29us/step - loss: 91.8113
Epoch 94/100
721/721 [==============================] - 0s 28us/step - loss: 90.6461
Epoch 95/100
721/721 [==============================] - 0s 34us/step - loss: 89.3469
Epoch 96/100
721/721 [==============================] - 0s 31us/step - loss: 88.2385
Epoch 97/100
721/721 [==============================] - 0s 31us/step - loss: 87.1902
Epoch 98/100
721/721 [==============================] - 0s 30us/step - loss: 85.9742
Epoch 99/100
721/721 [==============================] - 0s 32us/step - loss: 84.9973
Epoch 100/100
721/721 [==============================] - 0s 36us/step - loss: 83.9169

3. Evaluate the model on the test data and compute the mean squared error between the predicted concrete strength and the actual concrete strength. You can use the mean_squared_error function from Scikit-learn.

In [49]:
MSE = model.evaluate(x_test,y_test)
MSE

309/309 [==============================] - 0s 36us/step

81.28364158062487

In [45]:
from sklearn.metrics import mean_squared_error
ypred = model.predict(x_test)
mse = mean_squared_error(y_test,ypred)
mean_mse = np.mean(mse)
std_mse = np.std(mse)

In [46]:
print("mean : "+str(mean_mse) + "\nStandar deviasi : "+str(std_mse))

mean : 86.8977276426445
Standar deviasi : 0.0

4. Repeat steps 1 - 3, 50 times, i.e., create a list of 50 mean squared errors

In [47]:
total_mse = 50
list_mse = []
for i in range(0,total_mse):
  x_train, x_test, y_train,y_test = train_test_split(predictors_norm,target, test_size=0.3, random_state=20)
  model = regression_model()
  model.fit(x_train, y_train, epochs=100, verbose=0)
  MSE_model = model.evaluate(x_test,y_test)
  print("MSE "+str(i+1)+ " is "+str(MSE_model))
  ypred = model.predict(x_test)
  mse = mean_squared_error(y_test,ypred)
  list_mse.append(mse)

309/309 [==============================] - 0s 52us/step
MSE 1 is 88.91293206569833
309/309 [==============================] - 0s 53us/step
MSE 2 is 89.12657600081855
309/309 [==============================] - 0s 53us/step
MSE 3 is 83.71411345151635
309/309 [==============================] - 0s 46us/step
MSE 4 is 86.51198249495917
309/309 [==============================] - 0s 46us/step
MSE 5 is 89.14940193941678
309/309 [==============================] - 0s 52us/step
MSE 6 is 87.23998981463485
309/309 [==============================] - 0s 60us/step
MSE 7 is 84.8385781593693
309/309 [==============================] - 0s 54us/step
MSE 8 is 81.78149493072411
309/309 [==============================] - 0s 47us/step
MSE 9 is 84.21690734073182
309/309 [==============================] - 0s 51us/step
MSE 10 is 86.27521364279936
309/309 [==============================] - 0s 55us/step
MSE 11 is 79.0783374132076
309/309 [==============================] - 0s 56us/step
MSE 12 is 80.84520059727542
309/309 [==============================] - 0s 55us/step
MSE 13 is 80.92054126332107
309/309 [==============================] - 0s 57us/step
MSE 14 is 88.3952084390091
309/309 [==============================] - 0s 46us/step
MSE 15 is 87.77334068816842
309/309 [==============================] - 0s 57us/step
MSE 16 is 79.43150112312588
309/309 [==============================] - 0s 52us/step
MSE 17 is 83.73861686928758
309/309 [==============================] - 0s 60us/step
MSE 18 is 87.39714934216349
309/309 [==============================] - 0s 56us/step
MSE 19 is 81.93705164344566
309/309 [==============================] - 0s 53us/step
MSE 20 is 87.55720470638337
309/309 [==============================] - 0s 53us/step
MSE 21 is 84.73211205738647
309/309 [==============================] - 0s 54us/step
MSE 22 is 78.76136947681218
309/309 [==============================] - 0s 53us/step
MSE 23 is 86.99633221178765
309/309 [==============================] - 0s 53us/step
MSE 24 is 85.95569420478105
309/309 [==============================] - 0s 52us/step
MSE 25 is 86.17865348248034
309/309 [==============================] - 0s 47us/step
MSE 26 is 93.6668473524569
309/309 [==============================] - 0s 54us/step
MSE 27 is 83.5471963234318
309/309 [==============================] - 0s 52us/step
MSE 28 is 83.48222059725173
309/309 [==============================] - 0s 52us/step
MSE 29 is 81.75480004961823
309/309 [==============================] - 0s 54us/step
MSE 30 is 84.8315368701725
309/309 [==============================] - 0s 75us/step
MSE 31 is 79.60379455467644
309/309 [==============================] - 0s 52us/step
MSE 32 is 87.02511243604148
309/309 [==============================] - 0s 51us/step
MSE 33 is 89.03006425876062
309/309 [==============================] - 0s 54us/step
MSE 34 is 82.31069294457296
309/309 [==============================] - 0s 48us/step
MSE 35 is 84.37249955853213
309/309 [==============================] - 0s 48us/step
MSE 36 is 78.2874062794312
309/309 [==============================] - 0s 52us/step
MSE 37 is 85.72480850466633
309/309 [==============================] - 0s 49us/step
MSE 38 is 88.94206610620986
309/309 [==============================] - 0s 56us/step
MSE 39 is 86.5432304950208
309/309 [==============================] - 0s 49us/step
MSE 40 is 80.48867965747624
309/309 [==============================] - 0s 53us/step
MSE 41 is 89.33331261792229
309/309 [==============================] - 0s 54us/step
MSE 42 is 87.1504205253132
309/309 [==============================] - 0s 49us/step
MSE 43 is 85.49964870218321
309/309 [==============================] - 0s 54us/step
MSE 44 is 85.15519919287425
309/309 [==============================] - 0s 54us/step
MSE 45 is 81.8421499011586
309/309 [==============================] - 0s 55us/step
MSE 46 is 79.95307290283993
309/309 [==============================] - 0s 52us/step
MSE 47 is 90.00571957683871
309/309 [==============================] - 0s 54us/step
MSE 48 is 89.46396765353995
309/309 [==============================] - 0s 53us/step
MSE 49 is 94.91741654479388
309/309 [==============================] - 0s 53us/step
MSE 50 is 81.28364158062487

5. Report the mean and the standard deviation of the mean squared errors.

In [48]:
list_mse = np.array(list_mse)
total_mean = np.mean(list_mse)
total_std = np.std(list_mse)
print("Mean : "+str(total_mean))
print("Standar devisi : "+str(total_std))

Mean : 85.11361820067688
Standar devisi : 3.7564145164950777