**Repeat Part A but use a normalized version of the data. Recall that one way to normalize the data is by subtracting the mean from the individual predictors and dividing by the standard deviation.**

Download and Clean Dataset

In [2]:
import pandas as pd
import numpy as np

In [3]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

   Cement  Blast Furnace Slag  Fly Ash  ...  Fine Aggregate  Age  Strength
0   540.0                 0.0      0.0  ...           676.0   28     79.99
1   540.0                 0.0      0.0  ...           676.0   28     61.89
2   332.5               142.5      0.0  ...           594.0  270     40.27
3   332.5               142.5      0.0  ...           594.0  365     41.05
4   198.6               132.4      0.0  ...           825.5  360     44.30

[5 rows x 9 columns]

In [4]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

#use a normalized version of the data

In [19]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

     Cement  Blast Furnace Slag  ...  Fine Aggregate       Age
0  2.476712           -0.856472  ...       -1.217079 -0.279597
1  2.476712           -0.856472  ...       -1.217079 -0.279597
2  0.491187            0.795140  ...       -2.239829  3.551340
3  0.491187            0.795140  ...       -2.239829  5.055221
4 -0.790075            0.678079  ...        0.647569  4.976069

[5 rows x 8 columns]

In [20]:
n_cols = predictors_norm.shape[1] # number of predictors

Build Regresion Model

In [21]:
from keras.models import Sequential
from keras.layers import Dense

In [23]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(50, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

1. Randomly split the data into a training and test sets by holding 30% of the data for testing. You can use the train_test_splithelper function from Scikit-learn.

In [26]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train,y_test = train_test_split(predictors_norm,target, test_size=0.3, random_state=20)

2. Train the model on the training data using 50 epochs.

In [27]:
# build the model
model = regression_model()
# fit the model
model.fit(x_train, y_train, epochs=50, verbose=1)

Epoch 1/50
721/721 [==============================] - 0s 117us/step - loss: 1514.5504
Epoch 2/50
721/721 [==============================] - 0s 29us/step - loss: 1473.3435
Epoch 3/50
721/721 [==============================] - 0s 31us/step - loss: 1428.9876
Epoch 4/50
721/721 [==============================] - 0s 32us/step - loss: 1381.1688
Epoch 5/50
721/721 [==============================] - 0s 33us/step - loss: 1329.1045
Epoch 6/50
721/721 [==============================] - 0s 34us/step - loss: 1270.6614
Epoch 7/50
721/721 [==============================] - 0s 33us/step - loss: 1208.0587
Epoch 8/50
721/721 [==============================] - 0s 33us/step - loss: 1140.1168
Epoch 9/50
721/721 [==============================] - 0s 29us/step - loss: 1068.0485
Epoch 10/50
721/721 [==============================] - 0s 31us/step - loss: 993.7452
Epoch 11/50
721/721 [==============================] - 0s 31us/step - loss: 916.4686
Epoch 12/50
721/721 [==============================] - 0s 29us/step - loss: 841.0498
Epoch 13/50
721/721 [==============================] - 0s 30us/step - loss: 765.4710
Epoch 14/50
721/721 [==============================] - 0s 30us/step - loss: 694.0731
Epoch 15/50
721/721 [==============================] - 0s 30us/step - loss: 624.6697
Epoch 16/50
721/721 [==============================] - 0s 33us/step - loss: 562.0624
Epoch 17/50
721/721 [==============================] - 0s 34us/step - loss: 503.0221
Epoch 18/50
721/721 [==============================] - 0s 36us/step - loss: 451.0013
Epoch 19/50
721/721 [==============================] - 0s 30us/step - loss: 405.1963
Epoch 20/50
721/721 [==============================] - 0s 31us/step - loss: 364.1882
Epoch 21/50
721/721 [==============================] - 0s 30us/step - loss: 330.0026
Epoch 22/50
721/721 [==============================] - 0s 31us/step - loss: 300.3792
Epoch 23/50
721/721 [==============================] - 0s 31us/step - loss: 276.4099
Epoch 24/50
721/721 [==============================] - 0s 31us/step - loss: 256.2992
Epoch 25/50
721/721 [==============================] - 0s 31us/step - loss: 239.9357
Epoch 26/50
721/721 [==============================] - 0s 30us/step - loss: 226.6204
Epoch 27/50
721/721 [==============================] - 0s 31us/step - loss: 215.7699
Epoch 28/50
721/721 [==============================] - 0s 31us/step - loss: 206.9942
Epoch 29/50
721/721 [==============================] - 0s 33us/step - loss: 199.8575
Epoch 30/50
721/721 [==============================] - 0s 30us/step - loss: 193.9946
Epoch 31/50
721/721 [==============================] - 0s 31us/step - loss: 188.9475
Epoch 32/50
721/721 [==============================] - 0s 33us/step - loss: 184.4448
Epoch 33/50
721/721 [==============================] - 0s 34us/step - loss: 180.8255
Epoch 34/50
721/721 [==============================] - 0s 40us/step - loss: 177.3396
Epoch 35/50
721/721 [==============================] - 0s 31us/step - loss: 174.3794
Epoch 36/50
721/721 [==============================] - 0s 32us/step - loss: 171.7629
Epoch 37/50
721/721 [==============================] - 0s 29us/step - loss: 168.8601
Epoch 38/50
721/721 [==============================] - 0s 29us/step - loss: 166.4490
Epoch 39/50
721/721 [==============================] - 0s 31us/step - loss: 164.2400
Epoch 40/50
721/721 [==============================] - 0s 30us/step - loss: 162.0706
Epoch 41/50
721/721 [==============================] - 0s 30us/step - loss: 159.8337
Epoch 42/50
721/721 [==============================] - 0s 31us/step - loss: 157.8609
Epoch 43/50
721/721 [==============================] - 0s 31us/step - loss: 155.9486
Epoch 44/50
721/721 [==============================] - 0s 29us/step - loss: 153.9950
Epoch 45/50
721/721 [==============================] - 0s 30us/step - loss: 152.2477
Epoch 46/50
721/721 [==============================] - 0s 30us/step - loss: 150.2795
Epoch 47/50
721/721 [==============================] - 0s 30us/step - loss: 148.6800
Epoch 48/50
721/721 [==============================] - 0s 30us/step - loss: 146.9477
Epoch 49/50
721/721 [==============================] - 0s 30us/step - loss: 145.3621
Epoch 50/50
721/721 [==============================] - 0s 30us/step - loss: 143.8398

3. Evaluate the model on the test data and compute the mean squared error between the predicted concrete strength and the actual concrete strength. You can use the mean_squared_error function from Scikit-learn.

In [28]:
MSE = model.evaluate(x_test,y_test)
MSE

309/309 [==============================] - 0s 56us/step

139.79738140414833

In [29]:
from sklearn.metrics import mean_squared_error
ypred = model.predict(x_test)
mse = mean_squared_error(y_test,ypred)
mean_mse = np.mean(mse)
std_mse = np.std(mse)

In [30]:
print("mean : "+str(mean_mse) + "\nStandar deviasi : "+str(std_mse))

mean : 139.79737759261482
Standar deviasi : 0.0

4. Repeat steps 1 - 3, 50 times, i.e., create a list of 50 mean squared errors

In [32]:
total_mse = 50
list_mse = []
for i in range(0,total_mse):
  x_train, x_test, y_train,y_test = train_test_split(predictors_norm,target, test_size=0.3, random_state=20)
  model = regression_model()
  model.fit(x_train, y_train, epochs=50, verbose=0)
  MSE_model = model.evaluate(x_test,y_test)
  print("MSE "+str(i+1)+ " is "+str(MSE_model))
  ypred = model.predict(x_test)
  mse = mean_squared_error(y_test,ypred)
  list_mse.append(mse)

309/309 [==============================] - 0s 55us/step
MSE 1 is 145.90613568253502
309/309 [==============================] - 0s 43us/step
MSE 2 is 152.266222265546
309/309 [==============================] - 0s 48us/step
MSE 3 is 149.14919964935402
309/309 [==============================] - 0s 49us/step
MSE 4 is 146.8397034086456
309/309 [==============================] - 0s 50us/step
MSE 5 is 142.64350742969697
309/309 [==============================] - 0s 52us/step
MSE 6 is 151.1097612103212
309/309 [==============================] - 0s 52us/step
MSE 7 is 147.7530527948176
309/309 [==============================] - 0s 49us/step
MSE 8 is 149.73098226504032
309/309 [==============================] - 0s 55us/step
MSE 9 is 149.4101833602757
309/309 [==============================] - 0s 53us/step
MSE 10 is 150.72323746665782
309/309 [==============================] - 0s 51us/step
MSE 11 is 150.0891622895176
309/309 [==============================] - 0s 57us/step
MSE 12 is 141.7167082357561
309/309 [==============================] - 0s 56us/step
MSE 13 is 148.57312485778215
309/309 [==============================] - 0s 50us/step
MSE 14 is 142.81825863736347
309/309 [==============================] - 0s 49us/step
MSE 15 is 149.65105825874798
309/309 [==============================] - 0s 50us/step
MSE 16 is 146.6075254273646
309/309 [==============================] - 0s 51us/step
MSE 17 is 137.6678141374804
309/309 [==============================] - 0s 43us/step
MSE 18 is 144.82443800250303
309/309 [==============================] - 0s 50us/step
MSE 19 is 147.57799986805344
309/309 [==============================] - 0s 54us/step
MSE 20 is 144.3124955063113
309/309 [==============================] - 0s 51us/step
MSE 21 is 152.30397808976159
309/309 [==============================] - 0s 51us/step
MSE 22 is 151.45444792219737
309/309 [==============================] - 0s 52us/step
MSE 23 is 154.16476060194492
309/309 [==============================] - 0s 52us/step
MSE 24 is 144.65932501635504
309/309 [==============================] - 0s 53us/step
MSE 25 is 147.04983061262706
309/309 [==============================] - 0s 51us/step
MSE 26 is 142.63588030670067
309/309 [==============================] - 0s 52us/step
MSE 27 is 142.75065133795383
309/309 [==============================] - 0s 54us/step
MSE 28 is 141.38319268581552
309/309 [==============================] - 0s 51us/step
MSE 29 is 152.9034293955584
309/309 [==============================] - 0s 46us/step
MSE 30 is 142.24308174404896
309/309 [==============================] - 0s 55us/step
MSE 31 is 146.56006061837897
309/309 [==============================] - 0s 55us/step
MSE 32 is 145.9210194708074
309/309 [==============================] - 0s 48us/step
MSE 33 is 149.88708782504676
309/309 [==============================] - 0s 51us/step
MSE 34 is 149.36002154797796
309/309 [==============================] - 0s 52us/step
MSE 35 is 148.42902065635113
309/309 [==============================] - 0s 49us/step
MSE 36 is 151.5450193040965
309/309 [==============================] - 0s 48us/step
MSE 37 is 146.15379822369917
309/309 [==============================] - 0s 51us/step
MSE 38 is 144.42721310711215
309/309 [==============================] - 0s 44us/step
MSE 39 is 141.27458497081375
309/309 [==============================] - 0s 48us/step
MSE 40 is 145.5910793168645
309/309 [==============================] - 0s 51us/step
MSE 41 is 144.18152314713856
309/309 [==============================] - 0s 47us/step
MSE 42 is 141.3573429144702
309/309 [==============================] - 0s 53us/step
MSE 43 is 147.54457526839667
309/309 [==============================] - 0s 49us/step
MSE 44 is 161.13592707069174
309/309 [==============================] - 0s 53us/step
MSE 45 is 150.20751286478875
309/309 [==============================] - 0s 57us/step
MSE 46 is 146.93195997318404
309/309 [==============================] - 0s 52us/step
MSE 47 is 146.12364300477853
309/309 [==============================] - 0s 48us/step
MSE 48 is 155.80008517268405
309/309 [==============================] - 0s 53us/step
MSE 49 is 141.88996862516433
309/309 [==============================] - 0s 51us/step
MSE 50 is 152.99016316731772

5. Report the mean and the standard deviation of the mean squared errors.

In [34]:
list_mse = np.array(list_mse)
total_mean = np.mean(list_mse)
total_std = np.std(list_mse)
print("Mean : "+str(total_mean))
print("Standar devisi : "+str(total_std))

Mean : 147.36461259306162
Standar devisi : 4.372312321023083