In [1]:
import requests # library to handle requests
import pandas as pd # library for data analsysis
import numpy as np # library to handle data in a vectorized manner
import random # library for random number generation
from bs4 import BeautifulSoup # library for web scrapping  

#!conda install -c conda-forge geocoder --yes
import geocoder

#!conda install -c conda-forge geopy --yes 
from geopy.geocoders import Nominatim # module to convert an address into latitude and longitude values

# libraries for displaying images
from IPython.display import Image 
from IPython.core.display import HTML 
    
# tranforming json file into a pandas dataframe library
from pandas.io.json import json_normalize

#!conda install -c conda-forge folium=0.5.0 --yes
import folium # plotting library

print('Folium installed')
print('Libraries imported.')

Folium installed
Libraries imported.

In [2]:
# Read in the data 
df = pd.read_csv("index-crimes-by-county-and-agency-beginning-1990.csv")

In [3]:
# View the top rows of the dataset
df.head()

,County,Agency,Year,Months Reported,Index Total,Violent Total,Murder,Rape,Robbery,Aggravated Assault,Property Total,Burglary,Larceny,Motor Vehicle Theft,Region
0,Dutchess,Red Hook Vg PD,2004,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Non-New York City
1,Steuben,Steuben County Sheriff,2017,12.0,115.0,23.0,0.0,8.0,0.0,15.0,92.0,25.0,64.0,3.0,Non-New York City
2,Nassau,Lynbrook Vg PD,2015,12.0,159.0,11.0,0.0,1.0,3.0,7.0,148.0,20.0,119.0,9.0,Non-New York City
3,Schoharie,Schoharie PCT (NYC-DEPP),2003,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Non-New York City
4,Chautauqua,Chautauqua County Sheriff,2016,12.0,642.0,51.0,0.0,17.0,6.0,28.0,591.0,182.0,387.0,22.0,Non-New York City

In [4]:
df['Year'].value_counts()

2003    749
2004    749
2005    749
2006    749
2007    738
1990    720
1991    720
1994    720
1995    716
1997    710
1996    706
1992    704
1993    691
1998    685
2002    683
2008    679
2011    663
2001    663
1999    660
2012    659
2010    658
2009    656
2013    656
2000    654
2014    653
2016    649
2015    647
2017    638
Name: Year, dtype: int64

In [5]:
df['County'].unique()

array(['Dutchess', 'Steuben', 'Nassau', 'Schoharie', 'Chautauqua', 'Erie',
       'Suffolk', 'Franklin', 'Westchester', 'St Lawrence', 'Orange',
       'Otsego', 'Onondaga', 'Chemung', 'Sullivan', 'Ontario', 'Albany',
       'Columbia', 'Genesee', 'Lewis', 'Niagara', 'Livingston',
       'Rensselaer', 'Washington', 'Hamilton', 'Region Total', 'Wayne',
       'Saratoga', 'Allegany', 'Rockland', 'Essex', 'Herkimer', 'Cayuga',
       'Ulster', 'Putnam', 'Montgomery', 'Greene', 'Seneca', 'Broome',
       'Kings', 'Chenango', 'Orleans', 'Clinton', 'Oneida', 'Fulton',
       'Schenectady', 'Madison', 'Tompkins', 'Oswego', 'Jefferson',
       'Monroe', 'Schuyler', 'Cattaraugus', 'Warren', 'Cortland', 'Yates',
       'Delaware', 'Wyoming', 'Tioga', 'New York', 'Queens', 'Bronx',
       'Richmond'], dtype=object)

In [8]:
df[df.County == 'New York']

,County,Agency,Year,Months Reported,Index Total,Violent Total,Murder,Rape,Robbery,Aggravated Assault,Property Total,Burglary,Larceny,Motor Vehicle Theft,Region
310,New York,County Total,2004,NaN,62731.0,11414.0,90.0,357.0,5288.0,5679.0,51317.0,5256.0,43504.0,2557.0,New York City
374,New York,County Total,1991,NaN,209177.0,41209.0,483.0,629.0,24829.0,15268.0,167968.0,26120.0,122015.0,19833.0,New York City
656,New York,County Total,1995,NaN,123638.0,25095.0,242.0,422.0,13387.0,11044.0,98543.0,16770.0,71746.0,10027.0,New York City
720,New York,County Total,1990,NaN,217786.0,44434.0,497.0,685.0,26991.0,16261.0,173352.0,29074.0,122704.0,21574.0,New York City
724,New York,County Total,2017,12.0,47146.0,8671.0,46.0,530.0,2749.0,5346.0,38475.0,2215.0,35622.0,638.0,New York City
979,New York,County Total,2006,NaN,56255.0,10662.0,111.0,222.0,5083.0,5246.0,45593.0,4631.0,39225.0,1737.0,New York City
1320,New York,County Total,1998,NaN,89805.0,18054.0,104.0,323.0,8849.0,8778.0,71751.0,9637.0,56365.0,5749.0,New York City
1692,New York,County Total,2010,NaN,51297.0,8829.0,70.0,282.0,3787.0,4690.0,42468.0,2967.0,38514.0,987.0,New York City
3268,New York,County Total,2008,NaN,54731.0,9176.0,62.0,212.0,4460.0,4442.0,45555.0,3845.0,40380.0,1330.0,New York City
5108,New York,County Total,1994,NaN,151083.0,31895.0,320.0,531.0,17422.0,13622.0,119188.0,20031.0,86154.0,13003.0,New York City
7827,New York,County Total,2009,NaN,52899.0,8710.0,59.0,191.0,3781.0,4679.0,44189.0,3612.0,39495.0,1082.0,New York City
8512,New York,County Total,2002,NaN,68152.0,13211.0,84.0,290.0,5965.0,6872.0,54941.0,5771.0,45801.0,3369.0,New York City
9210,New York,County Total,2003,NaN,64456.0,12179.0,95.0,343.0,5617.0,6124.0,52277.0,5765.0,43531.0,2981.0,New York City
9771,New York,County Total,2005,NaN,59682.0,11180.0,91.0,322.0,5531.0,5236.0,48502.0,4703.0,41712.0,2087.0,New York City
11497,New York,County Total,1992,NaN,187947.0,37788.0,417.0,601.0,21895.0,14875.0,150159.0,24853.0,107788.0,17518.0,New York City
11765,New York,County Total,2000,NaN,79279.0,15583.0,104.0,265.0,7129.0,8085.0,63696.0,7075.0,52453.0,4168.0,New York City
11977,New York,County Total,2011,NaN,50858.0,9021.0,71.0,288.0,3648.0,5014.0,41837.0,3082.0,37856.0,899.0,New York City
12666,New York,County Total,1996,NaN,107398.0,22006.0,203.0,462.0,11304.0,10037.0,85392.0,13469.0,63285.0,8638.0,New York City
12822,New York,County Total,1993,NaN,172021.0,35470.0,418.0,619.0,20270.0,14163.0,136551.0,22521.0,98346.0,15684.0,New York City
13877,New York,County Total,2001,NaN,72996.0,14248.0,104.0,249.0,6130.0,7765.0,58748.0,6241.0,49020.0,3487.0,New York City
14004,New York,County Total,1997,NaN,100253.0,20174.0,150.0,406.0,10057.0,9561.0,80079.0,11068.0,62233.0,6778.0,New York City
15454,New York,County Total,2007,NaN,55098.0,10055.0,69.0,202.0,4676.0,5108.0,45043.0,3794.0,39743.0,1506.0,New York City
15654,New York,County Total,1999,NaN,81613.0,16179.0,131.0,254.0,7822.0,7972.0,65434.0,7844.0,53073.0,4517.0,New York City
17463,New York,County Total,2015,12.0,47307.0,8789.0,41.0,467.0,3148.0,5133.0,38518.0,2538.0,35156.0,824.0,New York City
17511,New York,County Total,2014,12.0,47566.0,8327.0,37.0,243.0,2909.0,5138.0,39239.0,2678.0,35791.0,770.0,New York City
17781,New York,County Total,2016,12.0,46653.0,8839.0,41.0,494.0,2929.0,5375.0,37814.0,2206.0,34867.0,741.0,New York City
17817,New York,County Total,2012,12.0,51756.0,9102.0,63.0,295.0,3581.0,5163.0,42654.0,3085.0,38735.0,834.0,New York City
18135,New York,County Total,2013,12.0,51872.0,8708.0,39.0,236.0,3340.0,5093.0,43164.0,2775.0,39647.0,742.0,New York City